*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size: 22px;
}


body {
 min-height: 100vh;
 border:2px solid black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 500px;
  border: 2px solid blue;
  margin:auto;  
  min-height: calc(100vh - 4px); 
}
header {
  width:100%;
  text-align: center;
  background-color: mediumblue;
  color: aliceblue;

}


main {
  width: 100%;
  flex-grow:1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;
  color:blue;
  flex-direction: column;

}
footer {
  width: 100%;
  padding: 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {

  width: 100%;
  list-style: none;
  padding: 0rem 0.5rem 0.25rem;
}
ul li::before {
  content: "\200B";
}
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.5rem 0;
  background-color: #eee;
}
.item:first-child {
  margin: 0;
}
.item input[type="checkbox"] {
  text-align: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}
.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}
.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
  text-align: center;
}
.item svg {
  width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}
.item svg:focus, 
.item svg:hover {
  color: red;
  outline: none;
}